@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;
}

header{
    width : 80%;
    margin-left : auto;
    margin-right : auto;
    background: linear-gradient(to bottom, #0b1a3c, #243b6a, #5974c1, #7e9ef0, #a3c0ff);
    padding : 10px;
    /* hidden을 주지 않는다면 nav바가 이상해짐. 이유는 추후에 알아볼것. */
    overflow : hidden;
}

header h1{
    width : 100%;
    text-align: center;
    color : #fff;
    text-decoration: underline;

}

header nav{
    width : 60%;
    float : right;
}
nav ul{
    list-style-type: none;
    margin-right : 120px;
}

nav ul li{
    display : inline-block;
    /* float : right; */
    margin : 10px;
    font-size : 1.2em;
}

nav ul li a{
    color : black;
    font-weight: 800;
    text-decoration: none;
}

a:hover{
    color : yellow;
    font-weight : bold;
    font-size : 1.3em;
    background-color: black;
}

p{
    font-size : 15px;
    line-height: 20px;

}

section{
    width : 80%;
    margin-left : auto;
    margin-right: auto;
    border : 5px solid #333;
    padding : 5px;
    overflow : hidden;
}

article h3{
    padding : 10px;
}

aside{
    /* 조상에서 상속 받는 속성을 해제 시킴. */
    clear : both;
    height : auto;
    padding-left : 20px;
}

footer{
    clear : both;
    width : 80%;
    margin-left:auto;
    margin-right: auto;
    padding : 10px;
    margin-top: 0;
    background-color: #333;
    color : white;
    text-align: center;
}

article{
    width : 90%;
    height : auto;
    margin : 20px 10px;
    padding: 20px;

}

#Persona3{
    border : 2px solid blue;
    border-radius: 10px;
    background-image: url(./images/Persona3.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

#Persona4{
    border : 2px dashed yellow;
    border-radius: 10px;
    background-image: url(./images/Persona4.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

#Persona5{
    border : double red ;
    border-radius: 10px;
    background-image: url(./images/Persona5.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}