*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol{
  list-style: none;
  text-decoration: none;
}

a{
  text-decoration: none;
  color: inherit;
}

:root{
  /* 변수 설정할때는 값에 따옴표 안씀 */
  --main-color : #000;
}