@import "./reset.scss";

$color: (
  nintendo: rgb(230, 0, 18),
  playstation: rgb(3, 0, 152),
  xbox: rgb(15, 124, 15),
);

.hoverNintendo {
  color: map-get($map: $color, $key: nintendo) !important;
}

.hoverPs {
  color: map-get($map: $color, $key: playstation) !important;
}

.hoverXbox {
  color: map-get($map: $color, $key: xbox) !important;
}

body {
  font-family: Montserrat;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

/* IntroVid */
.intro_video {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.6s;
  z-index: 1000000;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.active {
    opacity: 0;
  }
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  .banner {
    background: #000;
    height: 40px;
    transition: all 0.5s;
    .lnb {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        color: #ddd;
        margin-right: 10px;

        &:hover {
          text-decoration: underline;
        }
        em {
          color: #bbb;
        }
      }
    }
  }
  nav {
    margin: 0 auto;
    margin-top: 20px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        img {
          width: 180px;
          object-fit: cover;
        }
      }
    }
    .gnb {
      display: flex;
      gap: 10px;
      li {
        text-transform: uppercase;
        a {
          color: white;
          transition: all 0.3s;
        }
      }
    }
  }
  .trigger {
    display: none;
  }
  &.active {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .gnb li a {
      color: #000;
    }
    .banner {
      height: 0;
      overflow: hidden;
    }
    nav {
      padding-bottom: 20px;
    }
  }
}

/* Intro */
.intro {
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), transparent),
    url("./images/Intro1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  .heading {
    color: white;
    h1 {
      font-size: 70px;
      margin-bottom: 40px;
    }
    p {
      font-size: 22px;
      line-height: 1.5rem;
      padding: 0 150px;
    }
  }
}

/* About */
.about {
  .about_contents {
    display: flex;
    padding: 150px 0;
    div {
      padding: 30px;
      &.desc {
        text-align: center;
        flex: 3;
        h2 {
          font-size: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 16px;
          line-height: 1.7rem;
          margin: 30px 0 40px;
        }
        a {
          color: map-get($map: $color, $key: nintendo);
          font-weight: bold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &.photo {
        flex: 2;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        }
      }
    }
  }
}

/* Ranking */
.ranking {
  background: #f8f8f8;
  .ranking_contents {
    padding: 100px 0;
    h2 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .items {
      display: flex;
      justify-content: space-between;
      .item {
        cursor: pointer;
        width: 390px;
        height: 600px;
        background: white;
        border-radius: 30px 0 30px 0;
        overflow: hidden;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
        .up-image {
          width: 390px;
          height: 285px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .down-desc {
          padding: 25px;
          padding-top: 50px;
          .badge {
            font-size: 16px;
            padding: 2px 10px;
            border-radius: 20px;
            color: white;
            &.must {
              background: map-get($map: $color, $key: nintendo);
            }
            &.good {
              background: #4b5cce;
            }
          }
          h3 {
            font-size: 22px;
            margin: 15px 0;
          }
          p {
            font-size: 16px;
            margin-bottom: 16px;
          }
          .btn-explore {
            color: map-get($map: $color, $key: nintendo);
            font-weight: 500;
            img {
              transition: all 0.3s;
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* Product */
.product {
  background: map-get($map: $color, $key: nintendo);
  padding: 100px 0;
  .product_contents {
    width: 100%;
    /* 너비가 정의되어 있어야 text-align이 된다. 이때는 inner에 너비값이 정의되어 있어서서 가능  */
    text-align: left;
    color: white;
    h2 {
      font-size: 30px;
      font-weight: 300;
      text-transform: uppercase;
    }
    .myslider {
      width: 100%;
      .slick-list {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }
      .slick-track {
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 40px;
      }
      div {
        margin-top: 20px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .console {
          border-radius: 14px;
          padding: 20px;
          background: white;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: left;
          transition: all 0.3s;
          cursor: pointer;
          &:hover {
            transform: translateY(-10%);
          }
          span {
            &:first-of-type {
              margin-top: 30px;
              margin-bottom: 40px;
              font-size: 22px;
              font-weight: bold;
              color: #333;
              transition: all 0.3s;
            }
            &:nth-of-type(2) {
              margin-bottom: 10px;
            }
            width: 100%;
            b {
              font-size: 22px;
            }
          }
          img {
            border-radius: 14px;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
          .category {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            span {
              margin: 0;
              font-weight: normal;
              font-size: 18px;
            }
            i {
              color: map-get($map: $color, $key: nintendo);
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}

/* CallAction */
.callaction {
  width: 100%;
  height: 450px;
  background: url("./images/callaction01.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .callaction_heading {
    color: white;
    position: relative;
    text-align: center;
    h2 {
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 50px;
    }
    a {
      background: map-get($map: $color, $key: nintendo);
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 5px;
      transition: all 0.3s;
      &:hover {
        background: black !important;
        color: white !important;
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    width: 100%;
    height: 100%;
  }
}

/* Characters */
.characters {
  padding: 100px 0;
  .characters_contents {
    width: 100%;
    height: 100%;
    & > h1 {
      color: #333;
      margin-bottom: 20px;
    }
    .items {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      grid-gap: 20px;
      .item {
        cursor: pointer;
        &:hover .img_container img {
          transform: scale(1.1);
        }
        .img_container {
          background: map-get($map: $color, $key: nintendo);
          border-radius: 20px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;
          }
        }
        .characterTitle {
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
    .divider {
      border: none;
      border-bottom: 1px solid #ddd;
      margin: 50px 0;
    }
  }
}

/* Sns */
.sns {
  width: 100%;
  padding: 30px;
  background: map-get($map: $color, $key: nintendo);
  display: flex;
  justify-content: center;
  align-items: center;
  .sns_heading {
    display: flex;
    justify-content: space-between;
    .sns_logo {
      img {
        position: relative;
        width: 195px;
        filter: brightness(100);
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #000;
        }
      }
    }
    text-align: center;
    h3 {
      color: white;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 30px;
      span {
        font-weight: 500;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      gap: 40px;
      i {
        color: white;
        font-size: 40px;
      }
    }
  }
}

/* Footer */
footer {
  background: #000;
  color: white;
  padding: 30px 0;
  .footer_content {
    display: flex;
    justify-content: space-around;
    ul {
      text-align: center;
      li {
        a {
          color: #959595;
          &:hover {
            text-decoration: underline;
          }
        }
        &:first-child {
          color: #d9d9d9;
          font-weight: 500;
        }
      }
      &.help {
        li {
          color: #959595;
          &:last-child {
            color: #eee;
            margin-top: 38px;
          }
        }
      }
    }
  }
}

/* GoToTop */
.Top {
  opacity: 0;
  position: fixed;
  right: 50px;
  bottom: -50px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s;
  background: linear-gradient(
    45deg,
    gray, white
  );
  color: white;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  transition: opacity 0.3s, bottom 0.6s, transform 0.3s;
  &.active {
    opacity: 1;
    bottom: 50px;
  }
  &:hover {
    transform: translateY(-10%);
  }
}

@media screen and (max-width: 770px) {
  /* Header */

  header {
    .banner {
      display: none;
    }
    nav {
      width: 100%;
      padding: 0 20px;
      .gnb {
        width: 250px;
        height: 100vh;
        background: white;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -250px;
        text-align: right;
        padding: 80px 10px 0 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        li {
          a {
            color: black;
            font-size: 18px;
            padding: 10px;
            display: block;
          }
        }
        &.active {
          right: 0;
        }
      }
    }
    .trigger {
      display: block;
      width: 30px;
      height: 18px;
      position: absolute;
      top: 25px;
      right: 20px;
      span {
        position: absolute;
        width: 100%;
        height: 1px;
        background: #000;
        transition: all 0.3s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &.active span:nth-child(2) {
        display: none;
      }
      &.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  /* Common */

  .inner {
    width: 100%;
    padding: 15px;
  }

  /* Intro */

  .intro {
    .heading {
      h1 {
        font-size: 40px;
      }
      p {
        padding: 0;
      }
    }
  }

  /* About */

  .about_contents {
    flex-direction: column;
  }

  /* Ranking */
  .ranking {
    .ranking_contents {
      padding: 50px 0;
      .items {
        flex-direction: column;
        .item {
          width: 100%;
          border-radius: 7px;
          margin-bottom: 25px;
          overflow: hidden;
          .up-image {
            width: 100%;
          }
          .down-desc {
            width: 100%;
          }
        }
      }
    }
  }

  /* Product */
  .product {
    padding: 50px 0;
    .product_contents {
      h2 {
        font-size: 24px;
      }
    }
  }

  /* CallAction */
  .callaction {
    .callaction_heading {
      h2 {
        font-size: 26px;
      }
    }
  }

  /* Characters */
  .characters {
    .characters_contents {
      .characters_header {
        text-align: center;
        h2 {
          font-size: 36px;
        }
        p {
          font-size: 20px;
        }
        .btn-explore {
          margin-top: 15px;
        }
      }
      .post_content {
        flex-direction: column;
        .recent_post_items,
        .shared_post_items {
          .post_item {
            flex-direction: column;
            .post_image {
              width: 100%;
              border-radius: 7px;
            }
          }
        }
      }
    }
  }

  /* Sns */
  .sns {
    padding: 15px;
    .sns_heading {
      h3 {
        font-size: 24px;
      }
      .btns {
        a {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }

  footer {
    .footer_content {
      flex-direction: column;
      gap: 25px;
    }
  }
}
