h1{
    color: white;
    background-color: black;
}

h2{
    color: yellow;
    background-color: black;
}

h3{
    color: red;
    background-color: black;
}

h4{
    color: green;
    background-color: black;
}

h5{
    color : purple;
    background-color: orange;
}

h6{
    color: blue;
    background-color: pink;
}